section{
  background: #00000033;
  display: flex;
  justify-content: space-around;
  color: $verdeprincipal;
  font-size: $tamanoprincipalletra;
  font-family: $fontprincipal;
  $paddingtop: 30px;
  border-radius: 7px;
}
