$blanco: #F0E8D0;
$verde: #004C27;
$amarillo: #DB9220;
$azul: #007072;
$naranja: #CB3505;
$tamletra: 30px;
@import "Header";
@import "Footer";
@mixin formatouno(){
  color: white;
  box-sizing: border-box;
  width: 50%;
}
body{
    h2{font-size: 18px;
    font-weight: lighter;
    margin: 10px;
    }
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    background-color: $blanco;
  section.hero{
    background-image:  url("fotos/35.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 180px;
    padding-bottom: 180px;
      a{
        display: flex;
        flex-direction: column;
        padding: 30px;
        font-size: $tamletra;
        color: white;
        background-color: $verde;
        width: 30%;
        margin-bottom: 10px;
      }
      a.rayado{
        text-decoration: underline;
        background-color: $amarillo;
        width: 27%;
      }
  }
  section.Contenido{
    display: block;
    width: 100%;
    max-width:780px;
    margin: -100px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    p{
    margin: 10px;
    }
      div.cuadroazul{
        width: 100%;
        background-color: $azul;
        color: white;
        img{
          width: 167px;
          height: 132px;
          border-radius: 50%;
          float: right;
          border: 4px solid $naranja;
        }
      }
      div.cuadroamarillo{
        background-color: $amarillo;
        @include formatouno();
      }
      div.cuadroverde{
        background-color: $verde;
        @include formatouno();
      }
      div.cuadronaranja{
        background-color: $naranja;
        @include formatouno();
      }
      div.cuadroazul2{
        background-color: $azul;
        @include formatouno();
      }
    }

}
